* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(to bottom, #d9794c, #73412c);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* BUTTON (USED EVERYWHERE) */
.btn {
    display: inline-block;
    padding: 12px 34px;
    background-color: #c68642;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    font-weight: 500;
    transition: 0.3s;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #a86a33;
}