/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background: hsl(40, 95%, 48%);
}

/* MOBILE CONTAINER */
.mobile-container {
  max-width: 390px;
  margin: auto;
  background: hwb(11 43% 53% / 0.043);
  min-height: 100vh;
  padding-bottom: 80px; /* space for bottom nav */
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.header h2 {
  font-size: 18px;
  color: #333;
}

.balance {
  font-weight: bold;
  color: #d17a2b;
}

/* SEARCH */
.search-wrapper {
  display: flex;
  align-items: center;
  margin: 0 16px 16px;
  background: #f2f2f2;
  border-radius: 12px;
  padding: 10px;
}

.search-icon {
  margin-right: 8px;
}

.search-box {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 14px;
}

/* MENU CAPSULE */
.menu-capsule {
  margin: 0 16px 16px;
}

.menu-capsule button {
  background: #e8a413;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: bold;
}

/* FOOD GRID */
.food-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  padding: 0 16px;
}

/* FOOD CARD */
.food-card {
  background: #e78e13;
  border-radius: 14px;
  padding: 14px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-align: center;
}

.bottom-nav {
  position: sticky;
  bottom: 0;
  background: #fff;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #ddd;
  padding: 10px 0;
}

.food-card p {
  font-weight: bold;
  margin-bottom: 10px;
}

.add-btn {
  background: #e07a2f;
  border: none;
  color: #fff;
  padding: 6px 14px;
  border-radius: 20px;
  cursor: pointer;
}

/* BOTTOM NAV */


.bottom-nav a {
  text-decoration: none;
  color: #777;
  font-size: 12px;
  text-align: center;
}

.bottom-nav a.active {
  color: #e07a2f;
}